<div class="question">

  
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">June 28th</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">June 29th</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



<!-- Day 1 -->

             <button class="non-accordion">9:00 ~ Registration</button>

  

                          <button class="accordion">10:00 ~Opening Keynote</button>
                                 <div class="panel">

                                    <div class="agenda-background">

                                    
                                          <div>

                                            <span style="color:white; font-size: 14pt">
                                              "Started From The Bottom Now We’re Here"
                                            </span>
                                            <br><br>
                                            Come kick off your conference with an inspiring and exciting keynote from HIGH Fitness co-owners Amber Zenith and Emily Nelson!
                                          </div>

                                                 <br>

                                                     <div class="bio-section">
                                                          <div class="bio-image">
                                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/emily_edited-2.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                            Emily Nelson 
                                                         <br>
                                                            Co-Owner
                                                          </div>
                                                    </div>

                                                        <br>
                                                  <div class="bio-description">
                                                      Emily is the co-owner/co-creator and heart and soul of HIGH Fitness. Emily’s incredible ability to empower people combined with her beautiful personality has been the fuel behind HIGH fitness's success! Emily truly wants people to soar and her love for others is the root of HIGH's powerful community. Emily started her fitness career in Canada 13 years ago and was an instant group fitness superstar. Her vast experience in dance and enthusiasm for fitness has inspired and transformed the HIGH format to what it is today. 
                                                      <br>

                                        Emily's love for fitness and her passion for her participants well being both mentally and physically is the driving force behind all she does. Her goal is for each participant to feel her passion and pure joy through fitness. Emily currently teaches and runs HIGH Fitness from Bountiful, Utah and travels North America educating and spreading HIGH. Emily can be found spending time with her many friends, husband, two daughters, and newborn baby boy or FaceTiming with Co-Owner Amber Zenith. She is passionate about fashion, donuts and Lululemon!
                                                  </div>
                                    

<br>
                                                     <div class="bio-section">
                                                          <div class="bio-image">
                                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/amber_edited-2.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                            Amber Zenith 
                                                         <br>
                                                            Co-Owner
                                                          </div>
                                                    </div>

                                                        <br>
                                                  <div class="bio-description">
                                          Amber is the co-owner/co-creator and the creative genius behind HIGH Fitness. Ambers passion for the HIGH fitness brand and her love of appealing to everyone is a key component to HIGH fitness' success! Amber knows first hand that being who YOU are, listening to your gut, and believing in yourself is the only way to achieve true happiness. Amber's passion for aerobics started as a child watching her mom do the 20 min workout. She saw how much joy it brought to her mom's life which in turn planted a love for fitness and aerobics in her heart. 
                                            <br>
                                Amber started her fitness career 19 years ago as a Yoga Instructor, which is hysterical once you meet her. Her love for group fitness was sparked by her now business partner Emily Nelson and she credits Emily for literally “changing her life”. Ambers lack of dance experience can be credited for HIGH's simple, easy to follow, intense method of choreography. Amber's hate for diets and love for woman empowerment is obvious and she believes that all women become a 10 when they accept and love who they are. Her goal is to help women see their own beauty. 
                                <br>
                                      Amber currently teaches and runs HIGH Fitness from Calgary, Canada and travels North America educating and spreading HIGH. Amber can be found at home whenever possible in her PJ's hanging with her husband, two daughters, and havapoo Molly. She is passionate about thrifting, JOMO and Perrier!
                                                  </div>

                                     </div>
                                </div>




                  <button class="non-accordion">11:00 ~ Epic Class</button>



                  <button class="non-accordion">12:00 ~ Lunch&nbsp; <i>(provided)</i></button>



                 <button class="accordion">1:30 ~ Break Out Sessions</button>
                  <div class="panel">

                     <div class="agenda-background">


                      <i>Choose 1 of the following 3 Break Out Sessions</i>

                      <br><hr><br>
                          <span style="color:white; font-size: 14pt">
                          “Level Up” &nbsp;  Social Media Tips & Tricks 
                          </span>
                          <br><br>

                                    

                           <div>
                             #ilovesocialmedia! Social media is a gold mine for promoting yourself, selling your classes, and engaging participants...if you know how to work it. Tips, tricks, and HIGH best practices for the HOW TO. Whether a social media freshman or a social media aficionado, let us help you MAXIMIZE your engagement and give your social media the PUSH you are looking for!  
                           </div>

                                  <br>


                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Metta+Semrad.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                             Metta Semrad 
                                          <br>
                                             Guru 
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                        Metta attended Utah Valley University where she graduated with a Bachelor’s Degree in Public Health. Post university she found a true passion in group fitness, became AFAA Group Ex certified, and was amongst the first group of HIGH Fitness graduates. With a love of all things health and fitness, Metta inspires fun and exudes a contagious energy.
                                </div>
                                

                                        <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Leigh.png" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                            Leigh Gibney
                                          <br>
                                             Brand Manager
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                      With a Bachelor’s degree in Management, minoring in Marketing, Leigh is the Brand Manager for HIGH Fitness. She has extensive experience launching and growing businesses from the ground up. AFLCA Group Ex certified and a HIGH instructor herself, Leigh is committed to supporting instructors with the knowledge necessary to help their businesses soar.
                                   </div>


                                        <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Eden+Schell.png " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                           Eden Schell
                                          <br>
                                             Social Media Coordinator
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                    With over a decade of experience in marketing and graphic design, Eden is one of the Social Media Coordinators for HIGH Fitness. She is a self proclaimed GIF Master and social media aficionado with a Bachelors degree in Economics minoring in Business. She is also a master behind the camera, and teaches HIGH in her spare time. 
                                   </div>



                                   <br>

                                       <div class="bio-section">
                                            <div class="bio-image">
                                              <img src=" https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Sara+Jane.png" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                            </div>

                                            <div class="bio-image-name-title">
                                              Sara Jane Liddell
                                           <br>
                                              Social Media Coordinator
                                            </div>
                                      </div>

                                          <br>
                                    <div class="bio-description">
                                   Most likely found front and center show-dogging in a HIGH class and graciously referred to as the official HIGH Mascot, Sara Jane is one of the Social Media Coordinators for HIGH Fitness. Sara holds a Bachelors degree in Mass Communication with expertise in journalism, is marketing minded, and has experience in advertising and direct sales. Her specialties are relatable GIFs and catchy captions, and she has recently certified as a HIGH instructor.


                                    </div>

                                   <hr>
                     
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

                          <span style="color:white; font-size: 14pt">
                          "Work Work" &nbsp; Tips and tricks for building your business

                          </span>
                          <br><br>

                           <div>
                            Are you a HIGH Fitness trailblazer? A new instructor? Or simply looking to take your class to the NEXT LEVEL? Learn the TIPS, TRICKS and IDEAS that have worked for us.  Building class size, gaining new participants, keeping them coming back, and so much more! We have your step by step guide on how to feel successful in your classes, how to create a community, and how to maximize your potential!
                           </div>

                                  <br>
                                  


                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Lindsay+Carver.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                           Lindsay Carver
                                          <br>
                                             Guru 
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                         AFAA Group Ex certified and a Speech Pathologist by day, Lindsay has over 10 years teaching experience. She embraces the opportunity to be the “sunshiny” part of her participants’ days and has had much success creating a fun and loving community through her classes. Smiles, energy and endorphins power her to inspire others.
                                </div>
                                

                                                                     <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Jen+Stout.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                            Jen Stout
                                          <br>
                                            Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     With a Bachelor’s Degree in Fitness and Wellness Management, Jen started her fitness career in college as the Director of a Corporate Wellness Center and a personal trainer. She has a genuine love and compassion for people which led to her eventually falling in love with Group Ex and creating an unstoppable community with her participants. 
                                   </div>


<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. -->
<hr>

                                            <span style="color:white; font-size: 14pt">
                                            "Bootylicious" &nbsp; Nourishing your body 
 
                                            </span>
                                            <br><br>

                           <div>
                          Come join the Fabulous Erika Peterson, aka Clean Simple Eats, for an informative session about learning to properly fuel your body both pre and post workout. Erika is best known for recipes that not only taste amazing, but are full of nutrient dense ingredients that fuel and replenish your body to perform at an optimal level. 
                            <br>
                            Erika will dive into the science behind fueling properly along with sharing some of her tried and true recipes for all your on the go HIGH instructor needs!

                           </div>

                                  <br>
                                  
                

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/bio-+pic.png" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                            Ericka Peterson
                                          <br>
                                             Owner ~ Clean & Simple Eats
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                               <br>
                                    Erika is a wife and a mother of four. She is a certified health and wellness coach, recipe developer, food photographer and creator of Clean Simple Eats. 
                                    <br>
                                    <br>
                                    Clean Simple Eats was born out of Erika’s passion for healthy living and helping others after she had discovered the many amazing benefits from eating good, quality food paired with an active lifestyle. She started sharing recipes online to teach people that eating healthy could be delicious, simple and fun. After 6 years of sharing recipes and quickly growing on her social media outlets, Erika’s hobby has now turned into a rewarding career and business that her and her husband, JJ, run together full-time. Together they have helped thousands of people transform their health; physically, mentally and emotionally. 
                                    <br>
                                    <br>
 
                                   </div>



                      </div>
                 </div>



               <button class="accordion">2:30 ~ Break Out Sessions</button>
                 <div class="panel">

                     <div class="agenda-background">


                      <i>Choose 1 of the following 3 Break Out Sessions</i>

                      <br><hr><br>
                          <span style="color:white; font-size: 14pt">
                            “Gold Digger" = Goal Digger, High Business Goals 
                          </span>
                          <br><br>

                                    

                           <div>
                            Do you have BUSINESS in mind and are looking to GROW your bottom line? Are you looking to make your HIGH classes more than a side hustle? This session is for you – business building tips from an industry expert. Alison will give you everything you need to know to accelerate your growth, multiply your class sizes, and have the BIGGEST impact on people’s lives through HIGH Fitness.   
                           </div>

                                  <br>
                                  


                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/alison.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                             Alison Geskin 
                                          <br>
                                           Life Coach ~ CEC CLC
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                   Alison Geskin is about living well and taking responsibility for your life on every level, emotionally and physically. 

 
                                From raising capital in the corporate world to going on to do outstanding things in the not-for-profit world, Alison founded The Art of Strategy in 2016, with the sole purpose of helping organizations and people be more successful.  .  In 2017, Alison obtained a dual designation as a Certified Executive Coach and a Certified Life Coach from Symbiosis Coaching and topped off her education by getting certified in Leadership Coaching from Harvard University.

                                 <br><br>

                                She encourages people to think out of the box, step out of their comfort zone and take risks, live in the moment, and face their limitations and challenges… and live life to the fullest. She provides thought provoking information, choices, and options for living, in an unforgettable, energetic, direct, interactive and highly entertaining way. 
                                </div>
                                

                          <br>                                
                          
                     <hr>
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

                          <span style="color:white; font-size: 14pt">
                          "Dancing with Myself" &nbsp; Team Teaching 101 - learning to ditch the DIVA 

                          </span>
                          <br><br>

                           <div>
                            Whether you have a full time HIGH partner in crime or you prefer to rock it solo, get ALL the tips and tricks you need to create a harmonious team teaching experience for everyone involved!  Team teaching etiquette, effective communication, teaching with a large group, the nitty gritty of upping each other’s game…and so much more! Our crowns shine brighter together, and working as a team takes us HIGHer!
                           </div>

                                  <br>
                                  




                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Allsion+Ward.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                         Allison Ward
                                          <br>
                                             Guru 
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                        With a love for fitness that started when she was 16 years old, Allison is passionate about empowering others to inspire their own sense of growth, purpose and confidence. She is AFLCA Group Ex certified, and her supportive and loving attitude has inspired and empowered many. 
                                </div>
                                

                                                                     <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Hailey+Seim.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                         Halley Seim
                                          <br>
                                             Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                    Halley is AFAA Group Ex certified and was amongst the first group of HIGH Fitness graduates. Her mission is to promote and inspire inner confidence in everyone she meets. She is passionate about bringing her participants’ individual potential to light so they can see what for themselves what is possible.
                                   </div>


<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. -->
<hr>

                                            <span style="color:white; font-size: 14pt">
                                          "There’s Nothing Holding Me Back" &nbsp;  HIGHer Awareness = Repeat Participation
 
                                            </span>
                                            <br><br>

                           <div>
                         From the newbie to the HIGH groupie, EVERYONE comes to class with a story and a reason. To have FUN, get SWEATY, release STRESS, deal with LIFE, soothe ANXIETY, face FEARS…the list has no end! What does this have to do with you?! EVERYTHING. We are going to show you how to create a space where none of it matters but all of it is important. MAGIC happens when we set the stage for greatness. HIGH brought aerobics back in a big way, now let’s bring your participants back in an even bigger way!   

                           </div>

                                  <br>
                                  
                

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Janey+Wilson.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                     Janay Wilson
                                          <br>
                                            
                                            Master Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     Janay is AFLCA Group Ex certified, and began her fitness career over 10 years ago.  She holds a Bachelor’s degree in Social Work and has extensive experience as a social worker and counselor. Janay has a deep passion for supporting others in living their best life, and is inspired everyday by both instructors and participants. 
                                   </div>


<br>
                                     <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Speaker.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                       Jacquelyn Cornish
                                          <br>
                                            Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                    Jacquelyn is passionate about mentoring, supporting and cheering others on. Her goal is to know her participants by name and understand their story. AFLCA Group Ex certified, Jacquelyn is driven to share her love of HIGH with others because of the powerful impact it has had on her own health and well-being.
                                   </div>




                      </div>
                 </div>




                   <button class="non-accordion">3:20~ Break</button>



                                      <button class="accordion">3:35 ~ Aerobic F.I.T. Camp</button>
                                             <div class="panel">

                                                <div class="agenda-background">

                                           <span style="color:white; font-size: 14pt">
                                        "Salute" F.I.T. &nbsp; (Form-Intensity-Technique) Basic Training
 
                                            </span>
                                            <br><br>

                                                      <div>
                                                      Atten-TION!!! We want YOU!! HIGH Fitness has reinvented old school aerobics, in the BEST way possible - emphasizing the elements of SERIOUS fitness! Join our corps for a detailed breakdown of FORM, INTENSITY, and TECHNIQUE. Learn new ways to help your participants get MORE out of their HIGH Fitness workouts by being mindful of the quality of their movement patterns and power. Become inspired to deliver next level classes for ultimate success!
                                                      </div>

                                                             <br>

                                             <div class="bio-section">
                                                  <div class="bio-image">
                                                    <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Melissa+Zurcher.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                  </div>

                                                  <div class="bio-image-name-title">
                                                  Melissa Zurcher
                                                 <br>
                                                    Guru
                                                  </div>
                                            </div>

                                                <br>
                                          <div class="bio-description">
                                            Melissa holds a Bachelor’s Degree in Exercise Science and is AFAA Group Ex certified with extensive experience in the fitness industry. Her fitness journey began in 1997, and her love of teaching and presenting does not stop. She is a powerhouse of energy and brings both heart and intensity to her work. 
                                          </div>
                                          <br>


                                        <br>

                                     <div class="bio-section">
                                          <div class="bio-image">
                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Liz+Jones.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                          </div>

                                          <div class="bio-image-name-title">
                                        Liz Jones
                                         <br>
                                            Guru 
                                          </div>
                                    </div>

                                        <br>
                                  <div class="bio-description">
                                   With a Bachelor’s degree in Health Science, AFAA Group Ex Certification, and 15+ years of experience, Liz loves sharing her knowledge of health and fitness. She has experience in various aspects of the fitness industry, and a passion for HIGH. Lovingly described as the energizer bunny, she brings fun and intensity everywhere.
                                  </div>

                                                
                                                 </div>
                                            </div>






                                      <button class="accordion">4:35 ~ Stretch Session</button>
                                             <div class="panel">

                                                <div class="agenda-background">
                                                      <div>


                                             <span style="color:white; font-size: 14pt">
                                                          "BODY" &nbsp; Stretch Session

 
                                            </span>
                                            <br><br>
                                                     Master Trainer, Instructor, and Studio Owner Jenna Hansen will lead us through a full body stretch, and discuss the benefits of strengthening stabilizer muscles to balance out the pressure put on our bodies each day. Injury prevention is a hot topic, and strengthening stabilizers has long term benefits for keeping your body prepped and ready for more. This will be the perfect stretch to end the day!
                                                      </div>

                                                 <br>

                                                     <div class="bio-section">
                                                          <div class="bio-image">
                                                            <img src=" https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Jenna.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                          Jenna Hansen
                                                         <br>
                                                            Awaken Studios ~ Owner
                                                          </div>
                                                    </div>

                                                        <br>
                                                  <div class="bio-description">
                                                 Instructor, trainer and fitness studio owner with a passion for life, the outdoors, education and people. Along with teaching fitness, Jenna has also taught snowboarding, skiing, recreational therapy, and dance. She has taught dance, drama, and Pilates in New Zealand and was a Rafting and Hiking guide in Alaska. Jenna has competed and placed in Ironman triathlons, snowboarding and dance competitions. She loves seeing how her students’ lives improve as they work towards fitness goals, injury rehabilitation or an improved quality of life. Her clients range from: professional athletes, grandparents, firefighters, endurance athletes, professional strongmen, stay at home moms, children and everyone in between. Jenna’s life work however is her 4 children, whom help remind her through their examples how to live life in the present with an awe for the amazing world.
                                                  </div>
                                    
                                                 </div>
                                            </div>



                    <button class="non-accordion">5:00- 8:00 ~ Dinner <i>(on own)</i></button>



                              <button class="accordion">8:00 ~ Pajama Party</button>
                                     <div class="panel">

                                        <div class="agenda-background">
                                              <div>
                                          Don't miss the High Pajama Party Friday night Sponsored by Beddy's and Addy & Olly Salon!
                                              </div>

                                             <center>
                                                 <br>
                                                <div class = "video">
                                                <%= video_tag(
                                                            "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Video.MOV", size: "100px",
                                                              autoplay:true,
                                                              loop: true,
                                                              muted: true,
                                                  )
                                                %>
                                                </div>

                                                 </center>


                                                     <br>
                                                      <div class="bio-description">
                                                         A fashion show sponsored by Albion Fit will be kicking off this night!  Be ready to veg. out, connect with your high family and get some pampering! 
                                                      </div>
                                        
                                         </div>
                                    </div>



        </div>
<!-- end day 1 -->





<!-- Day 2 -->


        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">




                        <button class="non-accordion">7:00 ~ Guru Lead High Fitness Class</button>



                        <button class="non-accordion">8:00 ~ Break</button>
  


                            <button class="accordion">9:00 ~ Opening Keynote</button>
                                   <div class="panel">

                                      <div class="agenda-background">



                                            <span style="color:white; font-size: 14pt">
                                       "CONFIDENT" &nbsp; Opening Keynote 

                                        
                                            </span>
                                            <br><br>
                                            <div>
                                                 <span style="margin-left:15px; color:white;font-style: italic">
                                                  “The best way to predict the future is to create it.” -Abraham Lincoln
                                                </span>
                                                  <br><br>

                                            Join Courtney Brown, CEO & Founder of Cents of Style, as she talks about being the CREATOR of your life, not a competitor in it. Choose faith over fear. Creation over competition. Abundance over scarcity. Place your focus on what you want and through vision, faith, and owning each piece your life and story, see how your can lead the life you have always imagined.
                                  
                                            </div>

                                                   <br>

                                                       <div class="bio-section">
                                                            <div class="bio-image">
                                                              <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/courtnye-cos.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                            </div>

                                                            <div class="bio-image-name-title">
                                                             Courtney Brown 
                                                           <br>
                                                          Cents of Style ~ Owner
                                                            </div>
                                                      </div>

                                                          <br>
                                                    <div class="bio-description">
                                                    Featured on Entreprenuer.com and the TODAY show, Courtney Brown is the CEO and Founder of Cents of Style, a multi-million dollar fashion brand based in Bluffdale, UT. Cents of Style was named the 18th fastest growing company in the state of Utah by Mountain West Capital in 2017 and again named to the top 100 list in 2018. <br>
                                                          <br>
                                                    With a vision of empowering women to lead bold and full lives, Courtney believes in her company's mission to teach millions of women that when they look good, they feel good and then they have the power to do good. As a mother, wife, and CEO, Courtney is living proof that women can reject the idea that they have to choose between any of those titles to lead an empowered and full life.
                                                    </div>
                                      
                                       </div>
                                  </div>





                            <button class="accordion">9:40 ~  Unreleased Choreography</button>
                                   <div class="panel">

                                      <div class="agenda-background">


                                       <span style="color:white; font-size: 14pt">
                                       "It's Going Down For Real"

                                        
                                            </span>
                                            <br><br>
                                            <div>
                                          That’s right, at our first ever HIGH INSTRUCTOR CONVENTION we are giving you unreleased choreo to take home with you. Join co-owners Amber and Emily as they take you step by step through the choreography. They will show you the ins & outs as well as the dos & don’ts, leaving you feeling confident and ready to rock the choreography when you return home to classes.
                                            </div>

                                                   <br>

                                                      <div class="bio-section">
                                                          <div class="bio-image">
                                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/emily_edited-2.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                            Emily Nelson 
                                                         <br>
                                                            Co-Owner
                                                          </div>
                                                    </div>

                                                        <br>

                                                     <div class="bio-section">
                                                          <div class="bio-image">
                                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/amber_edited-2.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                            Amber Zenith 
                                                         <br>
                                                            Co-Owner
                                                          </div>
                                                    </div>

            

                          
                                                     
                                          
                                      
                                       </div>
                                  </div>




                 <button class="non-accordion ">10:30 ~ Break</button>




                          <button class="accordion">10:45 ~ Understanding the Formula</button>
                                 <div class="panel">

                                    <div class="agenda-background">

                                      <span style="color:white; font-size: 14pt">
                                    " 1, 2, 3, 4 " &nbsp;&nbsp; Aerobics is Back - Understanding the format and why it works 

                                       
                                           </span>
                                           <br><br>

                                          <div>
                                          Aerobics is BACK: Bigger, Better and HIGHer! Let us show you how! The secret is in the formula. We are going to dive deep into what makes the HIGH Fitness formula successful, how to make it work its magic, and how it can be accessible to anyone. Understand the foundation, master the method, learn how to sell it, and take your classes HIGHER!
                                          </div>

                                                 <br>

                                                     <div class="bio-section">
                                                          <div class="bio-image">
                                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Ricki+Smith.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                          Ricki Smith
                                                         <br>
                                                            Master Guru
                                                          </div>
                                                    </div>

                                                        <br>
                                                  <div class="bio-description">
                                                 Ricki’s love of group fitness started in high school and continued into college where she earned a Bachelor’s degree in Exercise Science. Ricki is AFAA Group Ex certified as well as an AFAA personal trainer. She is passionate about motivating participants to push themselves beyond what they believe they can achieve.
                                                  </div>
                                    <br>
                                                       <div class="bio-section">
                                                          <div class="bio-image">
                                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Patric+Pedersen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                       Patrice Pedersen
                                                         <br>
                                                            Guru
                                                          </div>
                                                    </div>

                                                        <br>
                                                  <div class="bio-description">
                                                  Patrice exudes passion, energy, positivity and love. With a Bachelor of Science degree, Patrice is also a NASM certified personal trainer and the owner of her own gym. Her greatest passion is helping people become physically and mentally healthy because she feels there is no better reward than seeing others succeed.
                                                  </div>



                                     </div>
                                </div>




                                      <button class="non-accordion">11:30 ~ Lunch&nbsp; <i>(provided)</i></button>



                                      <button class="accordion">12:30 ~ Break Out Sessions</button>
    <div class="panel">

                     <div class="agenda-background">


                      <i>Everyone will have the opportunity to attend both the sessions below.</i>

                      <br><hr><br>
                          <span style="color:white; font-size: 14pt">
                         "Slow And Low That Is The Tempo" &nbsp; Slow Down After You Throw Down!

                          </span>
                          <br><br>

                                    

                           <div>
                            Do you ever struggle with coming up with an effective cooldown? Does the thought of “choreographing” intimidate you? What about all those muscles that need stretching? This session will provide you with fresh cooldown choreography, a detailed review of proper stretching technique, and a hands-on overview of how to create your own cool down. Get ready for all of the tools you will need to end class on a H⚡️GH note!
                           </div>

                                  <br>
                                  




                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Leslie+Hansen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                           Leslie Hansen
                                          <br>
                                             Guru 
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                          Leslie holds a Bachelor of Arts degree in English/Education with a minor in Dance, is a high school English teacher by day, and has many years of experience as a dance teacher and choreographer. Leslie puts her heart into everything she does, and is a master at making up and polishing choreography. Her passion shines through the love she has for HIGH and all of her participants. 
                                </div>
                                

                                                                     <br>

<!--                                       <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Michelle+Hennebery.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                       Michelle Henneberry
                                          <br>
                                             Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                    Michelle has always had a passion for fitness, teaching and fun. She has 14 years of experience as a dance instructor, and is AFLCA Group Ex certified. Michelle’s goal for every participant is to give them the confidence to feel uplifted and energized, she does this by constantly striving to create an inclusive community in her classes. 
                                   </div> -->


                                                                     <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/McCall+Tyksen.jpg " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                      McCall Tyksen
                                          <br>
                                             Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     A former professional dancer with a degree in Education and experience as a teacher, McCall loves the feeling of unity that comes from fitness classes; everyone is working together to reach their goals. She is AFAA Group Ex certified and is passionate about creating a space that leaves everyone feeling welcome, comfortable and excited about fitness. 
                                   </div>



                                   <br>

<!--                                        <div class="bio-section">
                                            <div class="bio-image">
                                              <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/shannon+B.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                            </div>

                                            <div class="bio-image-name-title">
                                            Shannon Bonnemort
                                           <br>
                                             Guru
                                            </div>
                                      </div>

                                          <br>
                                    <div class="bio-description">
                                     With the infectious energy she brings to class, Shannon strives to help others believe in themselves and understand that anything is possible. With 9+ years of success teaching and coaching, she is dedicated to her participants and takes pride in being able to bring happiness into their lives through HIGH.
                                    </div> -->
<br>
                                   <hr><br>
                     
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

                          <span style="color:white; font-size: 14pt">
                         "Side to Side" &nbsp; Instructor Pro Skills - adding direction, depth and spin to your classes.


                          </span>
                          <br><br>

                           <div>
                           Cue, flip, mirror...repeat! The SECRET to participant success is in the instructor. We are talking about taking your skills NEXT LEVEL with practical tips, tricks and knowledge that will leave you feeling another level of confidence as an instructor. New ideas for how to cue, mirror, flip, and present your way to successful classes and successful participants! How do we lead them? Cueing, Mirroring & Presentation! Where are we taking them? HIGHer!  
                           </div>

                                  <br>

                           <div class="bio-section">
                            <div class="bio-image">
                              <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Ricki+Smith.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                            </div>

                            <div class="bio-image-name-title">
                            Ricki Smith
                           <br>
                             Master Guru
                            </div>
                      </div>

                                 <br>
                                      <div class="bio-description">
                                                 Ricki’s love of group fitness started in high school and continued into college where she earned a Bachelor’s degree in Exercise Science. Ricki is AFAA Group Ex certified as well as an AFAA personal trainer. She is passionate about motivating participants to push themselves beyond what they believe they can achieve.
                                </div>
                                

                                                                     <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Joni+Hayes.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                       Joni Hayes
                                          <br>
                                           Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                    Self-described as driven and disciplined with a competitive nature, Joni loves leading her classes to a sweaty state of HIGH euphoria. She is AFAA Group Ex certified with a personal interest in health and fitness that has her constantly learning and building her skills. Authentic and loving, she welcomes people with open arms. 
                                   </div>


<!-- <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Leslie+Hansen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                      Leslie Hansen
                                          <br>
                                             Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     Leslie holds a Bachelor of Arts degree in English/Education with a minor in Dance, is a high school English teacher by day, and has many years of experience as a dance teacher and choreographer. Leslie puts her heart into everything she does, and is a master at making up and polishing choreography. Her passion shines through the love she has for HIGH and all of her participants. 
                                   </div>


<br>


                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Janey+Wilson.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                     Janay Wilson
                                          <br>
                                            Master Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     Janay is AFLCA Group Ex certified, and began her fitness career over 10 years ago.  She holds a Bachelor’s degree in Social Work and has extensive experience as a social worker and counselor. Janay has a deep passion for supporting others in living their best life, and is inspired everyday by both instructors and participants. 
                                   </div> -->


                            <br>



                      </div>
                   </div>



                                     <button class="accordion">1:45 ~ Break Out Sessions</button>
                                 <div class="panel">

                     <div class="agenda-background">


                       <i>Everyone will have the opportunity to attend both the sessions below.</i>

                      <br><hr><br>
                          <span style="color:white; font-size: 14pt">
                         "Slow And Low That Is The Tempo" &nbsp; Slow Down After You Throw Down! Cool Downs 

                          </span>
                          <br><br>

                                    

                           <div>
                            Do you ever struggle with coming up with an effective cooldown? Does the thought of “choreographing” intimidate you? What about all those muscles that need stretching? This session will provide you with fresh cooldown choreography, a detailed review of proper stretching technique, and a hands-on overview of how to create your own cool down. Get ready for all of the tools you will need to end class on a H⚡️GH note!
                           </div>

                                  <br>
                                  




<!--                                       <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Leslie+Hansen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                           Leslie Hansen
                                          <br>
                                             Guru 
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                         With years of experience as a dance teacher and choreographer, Leslie is a master at making up and polishing choreography. She puts her heart into everything she does, and her passion shines through the love she has for HIGH and all of her participants.
                                </div> -->
                                

                                                                     <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Michelle+Hennebery.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                       Michelle Henneberry
                                          <br>
                                             Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                    Michelle has always had a passion for fitness, teaching and fun. She has 14 years of experience as a dance instructor, and is AFLCA Group Ex certified. Michelle’s goal for every participant is to give them the confidence to feel uplifted and energized, she does this by constantly striving to create an inclusive community in her classes. 
                                   </div>


  <!--                                                                    <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/McCall+Tyksen.jpg " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                      McCall Tyksen
                                          <br>
                                             Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     A former professional dancer with a degree in Education and experience as a teacher, McCall loves the feeling of unity that comes from fitness classes; everyone is working together to reach their goals. She is AFAA Group Ex certified and is passionate about creating a space that leaves everyone feeling welcome, comfortable and excited about fitness. 
                                   </div> -->



                                   <br>

                                       <div class="bio-section">
                                            <div class="bio-image">
                                              <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/shannon+B.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                            </div>

                                            <div class="bio-image-name-title">
                                            Shannon Bonnemort
                                           <br>
                                             Guru
                                            </div>
                                      </div>

                                          <br>
                                    <div class="bio-description">
                                    With the infectious energy she brings to class, Shannon strives to help others believe in themselves and understand that anything is possible. With 9+ years of success teaching and coaching, she is dedicated to her participants and takes pride in being able to bring happiness into their lives through HIGH.
                                    </div>
<br>
                                   <hr><br>
                     
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

                          <span style="color:white; font-size: 14pt">
                         "Side to Side" &nbsp; Instructor Pro Skills - adding direction, depth and spin to your classes.


                          </span>
                          <br><br>

                           <div>
                           Cue, flip, mirror...repeat! The SECRET to participant success is in the instructor. We are talking about taking your skills NEXT LEVEL with practical tips, tricks and knowledge that will leave you feeling another level of confidence as an instructor. New ideas for how to cue, mirror, flip, and present your way to successful classes and successful participants! How do we lead them? Cueing, Mirroring & Presentation! Where are we taking them? HIGHer!  
                           </div>

 <!--                                  <br>

                                       <div class="bio-section">
                                                <div class="bio-image">
                                                            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Ricki+Smith.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                                          </div>

                                                          <div class="bio-image-name-title">
                                                          Ricki Smith
                                                         <br>
                                                            Master Guru 
                                                          </div>
                                                    </div>

                                                        <br>
                                                  <div class="bio-description">
                                                 Ricki’s love of group fitness started in high school and continued into college where she earned a Bachelor’s degree in Exercise Science. Ricki is AFAA Group Ex certified as well as an AFAA personal trainer. She is passionate about motivating participants to push themselves beyond what they believe they can achieve.
                                </div>
                                 -->

<!--                                       <br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Joni+Hayes.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                       Joni Hayes
                                          <br>
                                           Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                    Self-described as driven and disciplined with a competitive nature, Joni loves leading her classes to a sweaty state of HIGH euphoria. She is AFAA Group Ex certified with a personal interest in health and fitness that has her constantly learning and building her skills. Authentic and loving, she welcomes people with open arms. 
                                   </div> -->


<br>

                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Leslie+Hansen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                      Leslie Hansen
                                          <br>
                                             Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     Leslie holds a Bachelor of Arts degree in English/Education with a minor in Dance, is a high school English teacher by day, and has many years of experience as a dance teacher and choreographer. Leslie puts her heart into everything she does, and is a master at making up and polishing choreography. Her passion shines through the love she has for HIGH and all of her participants. 
                                   </div>


<br>


                                      <div class="bio-section">
                                           <div class="bio-image">
                                             <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Janey+Wilson.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                           </div>

                                           <div class="bio-image-name-title">
                                     Janay Wilson
                                          <br>
                                             Master Guru
                                           </div>
                                     </div>

                                         <br>
                                   <div class="bio-description">
                                     Janay is AFLCA Group Ex certified, and began her fitness career over 10 years ago.  She holds a Bachelor’s degree in Social Work and has extensive experience as a social worker and counselor. Janay has a deep passion for supporting others in living their best life, and is inspired everyday by both instructors and participants. 
                                   </div>


<br>



                      </div>
                   </div>




                          <button class="non-accordion">2:45 ~ Break</button>



                          <button class="non-accordion">3:00 ~ Questions & Answers</button>



                                      <button class="accordion">3:45 ~ Setting HIGHer Goals </button>
                                             <div class="panel">

                                                <div class="agenda-background">

                                                     <span style="color:white; font-size: 14pt">
                                        "High Hopes" &nbsp; Closing Keynote
                                        
                                            </span>
                                            <br><br>
                                                      <div>
                                                   After 2 full days of learning, connecting and growing, it’s time to talk GOALS. Alison will guide us through identifying the WHAT, breaking down the HOW, and taking ACTION. Leave this weekend feeling excited, and inspired to take on anything - there are no limits to how HIGH you can soar!
                                                      </div>

                                                             <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/alison.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Alison Geskin
                                       <br>
                                         Life Coach ~ CEC CLC
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   Alison Geskin is about living well and taking responsibility for your life on every level, emotionally and physically. 

 
                                From raising capital in the corporate world to going on to do outstanding things in the not-for-profit world, Alison founded The Art of Strategy in 2016, with the sole purpose of helping organizations and people be more successful.  .  In 2017, Alison obtained a dual designation as a Certified Executive Coach and a Certified Life Coach from Symbiosis Coaching and topped off her education by getting certified in Leadership Coaching from Harvard University.

                                 <br><br>

                                She encourages people to think out of the box, step out of their comfort zone and take risks, live in the moment, and face their limitations and challenges… and live life to the fullest. She provides thought provoking information, choices, and options for living, in an unforgettable, energetic, direct, interactive and highly entertaining way. 

                                                              </div>
                                                
                                                 </div>
                                            </div>



                                      <button class="non-accordion">4:30 ~ Wrapping it up with Amber & Emily</button>


<br>
<br>




<!-- End Day 2 -->
 
        </div>

</div>


  



  </center>
  <br>
  <br>


</div>







<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>