
<div align="center">
      <br>

      <h6> If you have any additional question please contact Kristen Montgomery with Next Level Events and Marketing</h6>

      <br>

      <h6> <%= number_to_phone "8014731024" %> </h6>

      <br>

      <h6 style="color: #A2B9C5;"> <a href="mailto: kristen@nextleveleventsandandmarketing.com?subject=Alaskan Cruise"> Please Click Here to Email Kristen any Event Related Questions</h6></a>

      <br>
</div>
