
<div align="center">
      <br>

      <h6> If you have any additional questions please contact Kristen Montgomery with <a href ="http://www.nextleveleventsandmarketing.com/" > Next Level Events and Marketing.</a></h6>

      <br>

      <h6> Kristen <%= number_to_phone "8014731024" %> </h6>

      <br>

      <h6 style="color: #A2B9C5;"> <a href="mailto: kristen@nextleveleventsandandmarketing.com?subject=Alaskan Cruise"> Please Click Here to Email Kristen any Event Related Questions</h6></a>

      <br>
</div>
