
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #48484A;border: 2px solid #EC549E; border-radius: 11px 11px 0px 0px ;padding:4px 4px 4px 28px">
  <a class="navbar-brand " href="/convention/home" style="color:white"><img src= "https://iwxipdb153-flywheel.netdna-ssl.com/wp-content/uploads/2017/09/logo.png"  width="60px"></a>


  <button class="navbar-toggler custom-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  ml-auto">
      <a class="nav-item nav-link" href="/convention/home" >HOME </a>
      <a class="nav-item nav-link" href="/convention/venue" >LOCATION <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/convention/agenda_one" >LINE UP</a>  
      <a class="nav-item nav-link" href="/convention/faq" >FAQ's</a>
      <!-- <a class="nav-item nav-link" href="/convention/sponsors" >SPONSORS</a> -->
      <a class="nav-item nav-link" href="https://highfitnessconvention.regfox.com/high-fitness-convention-2019" target="_blank"><span6>REGISTER</span6></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>

</nav>


