<center>
<br>

Thankyou for submitting your Question<br>
  

<br>
<%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Artboard+1.jpg", style: 'width:250px')%>
<br>
If you'd like to ask another question click below.
<br>
<br>


      <div >
        <%= link_to 'Ask Another Question', new_qa_path, class: "btn btn-primary"%> 
    </div>


<br>
<br>


</center>