<center>

CONGRATULATIONS! Your registration has been successfully recorded! <br>
We will reach out to you with further details as we get closer to departure. <br>
We look forward to seeing you in Emerald Bay!
  
<br>
<br>
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img7.jpg", style: 'width:80%')%>
<br>
If you'd like to register another attendee click below.
<br>
<br>


      <div >
        <%= link_to 'Add New Attendee', new_table_path, class: "btn btn-primary"%> 
    </div>


<br>
<br>
<br>
<br>
<br>
</center>