<div style="margin-left:8%;font-size:17pt">
Freqently Asked Questions
</div>
<br>


<center>
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img8.jpg", style: 'width:85%')%>
</center>

<br>
<br>

<div class="question">

    Question1<br>
    <span>Answer1</span>
    <br>
    <br>

    Question2<br>
    <span>Answer2</span>
    <br>
    <br>

    Question1<br>
    <span>Answer1</span>
    <br>
    <br>

    Question2<br>
    <span>Answer2</span>
    <br>
    <br>



<br>
</div>