<center>

<br>
<br>

You Just Rocked the Survey!<br>

<br>
<br>
<%= image_tag("https://mont-general.s3-us-west-1.amazonaws.com/highfitness/Artboard+1.jpg", style: 'width:250px')%>
<br>
<!-- If you'd like to ask another question click below.
<br>

     <button style= "background-color:#EC549E;color:white;padding:7px">
        <%#= link_to 'Ask Another Question', new_qa_path %> 
      </button>


<br>
<br> -->


</center>