<html>

    <head>

        <title>New Attendee Activity</title>

    </head>

    <body>

        <table>

        <tr>
               <td style="color:blue;font-size:11pt">Notification:  Good news a new user has registered!</td>

        </tr>

            <br>

        <tr> 
               <td style="color:black;font-size:11pt;align:center;">Attendee: <%=@table.first_name%>  <%=@table.last_name%>. </td>

        </tr>
            <br>

        <tr>
               <td style="color:black;font-size:11pt;align:center;"> Go to "https://dentist-direct-emerald.herokuapp.com" to see their registraion details.</td>

        </tr>

            <br>

        <tr>
               <td align="center"><img src="https://s3-us-west-1.amazonaws.com/mont-general/Emerald/Img7.jpg" width="350px"></td>

        </tr>
            <br>
        <tr>
               <td align="center">123 Main St. Lehi, UTAH</td>
        </tr>

        </table>

    </body>

</html>

