@import "bootstrap";
@import "gritter";
@import "font-awesome";



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top:  2rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;

  
  color: #A2B9C5;
  font-weight: 500;
}

.parent {
  width: 80%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: 2rem;
  margin-bottom: 2rem;
 
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 25rem;
  background-color: #ffffff;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  min-width: 10%;
  height: 25rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 600px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

body{ 
      padding-top:  2rem;
      padding-bottom: 3rem;
      padding-left: 5px;
      padding-right: 5px;
 }


 .carousel-item {
  height: 12rem;
  background-color: #ffffff;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  min-width: 10%;
  height: 12rem;
}

.parent {
  width: 100%;
}


  input::placeholder {
    
    text-align: center;
    font-style: italic;
    font-size: 11px;
    font-weight: 100;
    color: #0275d8;
  }

  hr {
  
   border: none;
    height: 1px;

    /* Set the hr color */
    /* Modern Browsers */

    background-color: #12988B; 
}

}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }



/* 
Custom styles
*/


  .inner {

    font-size: 8px;

  }

    .image-size {

  max-width: 30%;
  max-height: 30%;
  }


  input::placeholder {
    
    text-align: center;
    font-style: italic;
    font-size: 11px;
    font-weight: 100;
    color: #0275d8;
  }


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





.carousel-inner {
width:80%;
height:80%;

}

table, th, td {
   border: 1px solid black;

}

table {
    width: 100%;
}



th {
    height: 18px;
}

tr:hover {background-color: #f2f2f2}

th {
    background-color: #0275d8;
    color: white;
}


th, td {
    padding: 8px;
    text-align: left;
}

th {
  text-align: center;
  
}

td {
  font-size: 12px;
}

.cool {
  
  color: #167495;
}

    table.form {
    width: 100%;
    }


    td.label {
    white-space: nowrap;
    }


    td.input{
    width: 100%;
    }



form {
   width: 1100px;

  
   margin: auto;
   position: relative;
 }

.grey {
  
background-color: #f6f6f6;
padding: 25px;
}

hr {
  
   border: none;
    height: 1px;

    /* Set the hr color */
    /* Modern Browsers */

    background-color: #12988B; 
}

.footer {
  font-size: 13px;

}

}






