<%#= render "shared/agenda_nav" %> 

<br>
<center>

<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/epic90s_edited-1.jpg" width="100%">
<br>
<div class="keynote">
Two Amazing Keynote Speakers
  </div>
</center>
<br>
<div class= 'bio-img'>
    <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/courtnye-cos.jpg" width="100%">

<br>
      Courtney Brown ~ 
      <br>
      Founder and CEO of Cents of Style
</div>


<center>
<div class= "bio-text">

Featured on Entreprenuer.com and the TODAY show, Courtney Brown is the CEO and Founder of Cents of Style, a multi-million dollar fashion brand based in Bluffdale, UT. Cents of Style was named the 18th fastest growing company in the state of Utah by Mountain West Capital in 2017 and again named to the top 100 list in 2018. <br>
<br>
With a vision of empowering women to lead bold and full lives, Courtney believes in her company's mission to teach millions of women that when they look good, they feel good and then they have the power to do good. As a mother, wife, and CEO, Courtney is living proof that women can reject the idea that they have to choose between any of those titles to lead an empowered and full life.
 
</div>
</center>
<br>
<hr>
<br>
<div class= 'bio-img'>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/alison.jpg" width="100%">
<br>
Alison Geskin ~ 
<br>
CEC CLC

</div>
 <center>
<div class= "bio-text">
Alison Geskin is about living well and taking responsibility for your life on every level, emotionally and physically. She is about achieving balance: at work, at home, in your relationships.

 
<br><br>
From raising capital in the corporate world to going on to do outstanding things in the not-for-profit world, Alison founded The Art of Strategy in 2016, with the sole purpose of helping organizations and people be more successful.  .  In 2017, Alison obtained a dual designation as a Certified Executive Coach and a Certified Life Coach from Symbiosis Coaching and topped off her education by getting certified in Leadership Coaching from Harvard University.

 <br><br>

She encourages people to think out of the box, step out of their comfort zone and take risks, live in the moment, and face their limitations and challenges… and live life to the fullest. She provides thought provoking information, choices, and options for living, in an unforgettable, energetic, direct, interactive and highly entertaining way. 
</div>
</center>
<br>



<br>
<center>
<div class="keynote">
Hear from High Fitness Co-Founders
  </div>
</center>

<!-- <br>
<div class= 'bio-img'>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/bio-pic+3.png" width="100%">
<br> -->

<br>
<div class= 'bio-img'>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/emily_edited-2.jpg" width="100%">
<br>

Emily Nelson ~
<br>
Co-Founder

</div>
 <center>
<div class= "bio-text">




Emily is the co-owner/co-creator and heart and soul of HIGH Fitness.   Emily’s incredible ability to empower people combined with her beautiful personality has been the fuel behind HIGH fitness's success!   Emily truly wants people to soar and her love for others is the root of HIGH's powerful community.  Emily started her fitness career in Canada 13 years ago and was an instant group fitness superstar.   Her vast experience in dance and enthusiasm for fitness has inspired and transformed the HIGH format to what it is today.    

<br>
<br>
Emily's love for fitness and her passion for her participants well being both mentally and physically is the driving force behind all she does. Her goal is for each participant to feel her passion and pure joy through fitness.     Emily currently teaches and runs HIGH Fitness from Bountiful, Utah and travels North America educating and spreading HIGH.   Emily can be found spending time with her many friends, husband, two daughters, and newborn baby boy or FaceTiming with Co-Owner Amber Zenith.  She is passionate about fashion, donuts and Lululemon! 
</div>
</center>







<hr>
<!-- 
<br>
<div class= 'bio-img'>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/bio-pic2.png" width="100%">
<br> -->

<br>
<div class= 'bio-img'>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/amber_edited-2.jpg" width="100%">
<br>
Amber Zenith ~
<br>
Co-Founder

</div>
 <center>
<div class= "bio-text">


 

Amber is the co-owner/co-creator and the creative genuis behind HIGH Fitness.   Ambers passion for the HIGH fitness brand and her love of appealing to everyone is a key component to HIGH fitness' success!   Amber knows first hand that being who YOU are, listening to your gut, and believing in yourself is the only way to achieve true happiness.  Amber's passion for aerobics started as a child watching her mom do the 20 min workout.  She saw how much joy it brought to her mom's life which in turn planted a love for fitness and aerobics in her heart.  
<br>
<br>
 Amber started her fitness career 19 years ago as a Yoga Instructor, which is hysterical once you meet her.  Her love for group fitness was sparked by her now business partner Emily Nelson and she credits Emily for literally “changing her life”.   Ambers lack of dance experience can be credited for HIGH's simple, easy to follow, intense method of choreography.   Amber's hate for diets and love for woman empowerment is obvious and she believes that all women become a 10 when they accept and love who they are.   Her goal is to help women see their own beauty.
 <br>
 <br>
  Amber currently teaches and runs HIGH Fitness from Calgary, Canada and travels North America educating and spreading HIGH.   Amber can be found at home whenever possible in her PJS hanging with her husband, two daughters, and havapoo Molly.  She is passionate about thrifting, JOMO and Perrier!  
</div>
<br>



<br>

<div class="keynote">
Don't miss the High Pajama Party Thursday night<br>
Sponsored by Beddy's and Addy & Olly Salon!
  </div>
 

<%= video_tag(
            "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Video.MOV", size: "100px",
              autoplay:true,
              loop: true,
              muted: true,
  )
%>


  <br>
  <br>

  <div class = "agenda3">
  “Uniting as a tribe will be the HIGHEST motivation to become an even BIGGER and BETTER instructor!” 
  <br><br>
  <span8>~ Liz Jones</span8>
  </div>

 

<br>

<div class="keynote2">
Detailed Agenda Coming Soon!  </div>

  <br>
  <br>

<%= render "shared/high-footer" %>
</center>



`