  

    <center>

    <img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/faqhigh_edited-2.jpg" width ="100%">
 
    </center>

    <div class= "faq-high">
    <br><br>

    What are the conference dates along with start and end times?
    <br>

    <span5>
    FRIDAY JUNE 28<br>
    9a.m. Conference registration and High warehouse sale will begin.  <br>
    10a.m. Convention kick off<br>
    8p.m. Pajama party<br>
    SATURDAY JUNE 29<br>
    7am Guru class (followed by some free time to get cleaned up)<br>
    9a.m. Convention begins<br>
    4p.m.  Convention concludes<br>
    </span5>

    <br><br>

    Where will the conference be held?
    <br>
    <span5>
    The Provo Marriott.  101 West 10 North Provo, Utah 84601<br>
    Phone: 801-377-4700<br>
    <a href ="https://www.marriott.com/hotels/travel/slcvo-provo-marriott-hotel-and-conference-center/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2"> Click here for Property webiste.</a>
    <br>
    </span5>

    <br><br>

    How much is the conference?
    <br>
    <span5>
    $299 for early bird attendees (instructors who register within the first week)<br>
    $359 after the first week<br>
    *Note space is limited and we expect this convention to sell out. <br>
    </span5>

    <br><br>

    What’s the best way to book sleeping rooms for the convention and how much are they?
    <br>
    <span5>
    We have negotiated a special rate of $124 a night plus tax.  This rate is available to you between June 25– July 2, 2019. 

    Click this link to book your room:  We will INSERT LINK HERE
    </span5>

    <br><br>

    How many of us can fit into one sleeping room?
    <br>
    <span5>
    The rooms can accommodate quad occupancy.  There are 2 queen beds in some rooms, but of course you can request a single bed if needed.
    </span5>

    <br><br>

    How many tickets can I purchase?
    <br>
    <span5>
    One ticket per High instructor.  
    </span5>

    <br><br>

    Can I purchase a single day pass?
    <br>
    <span5>
    We are selling the conference as a package price; their will not be one day tickets available. 
    </span5>

    <br><br>

    What if I need to Cancel?
    <br>
    <span5>
     Once you register your ticket is non-refundable unless you have a family emergency.  In that case e-mail: 
     convention@highfitness.com
    </span5>
    <br><br>

    Which airport is closest to the convention venue?
    <br>
    <span5>
    Salt Lake City International Airport is the largest airport in the area and will have the most flight options. The Provo Municipal Airport is much closer, but flights to Provo are limited. 
    </span5>

    <br><br>

    What's the best option for transportation to the Venue?
    <br>

    <span5>
    By Train<br>
    If you're coming from Salt Lake City, you can take TRAX to the Frontrunner, a very clean train that runs all the way to Provo. It will cost roughly $6.10 to go one way from Salt Lake to Provo. The closest train station to the venue is about a mile from the event center and surrounding hotels. So from there, a ride-sharing service like Uber or Lyft would average just $6-$8.
 
    <br><br>

    By Car<br>
    If you’d prefer a direct ride from the airport, services like Uber and Lyft cost an average $88 from Salt Lake International Airport to the convention center, and just $9 from Provo Airport.

    <br><br>

    By Shuttle<br>
    An Express Shuttle from Salt Lake International Airport should be around $45 one way.
    </span5>
    <br><br>


    Can I bring a baby to the conference?<br>
    <span5>
    We love babies however, we ask that you to find a sitter during the High convention.
    </span5>

    <br><br>

    Is the hotel wheelchair accessible?
    <br>
    <span5>
    Yes, the Marriott in Provo is wheelchair-friendly.
    </span5>

    <br><br>

    Are there rules on photographing and recording the conference?
    <br>
    <span5>
    Please take photos and post away!  #HighFitnessConvention  You're also welcome to record short snippets of video at the conference, but recording entire sessions isn’t allowed.
    </span5>
    <br><br>

    Will you be able to accommodate food allergy requests?
    <br>
    <span5>
    Please email us if you have a specific concern, but know that we’ll be offering all types of options including: vegetarian, gluten-free, healthy, and not-so-healthy. There should be something for everyone!
    </span5>

    <br><br>

    What's the weather like in Utah in July?
    <br>
    <span5>
    It's typically in the high 80’s to low 90’s in June.  The evenings typically drop about 30 degrees in temperature. 
     </span5>

    <br><br>

    What is the dress code for the convention?
    <br>
    <span5>
    Athletic clothing for classes and casual & comfortable otherwise. 
    </span5>

    <br><br>

    Can I register for the High Convention after arriving at the event?
    <br>
    <span5>
    Unfortunately, spots are limited this year, so you must register early to ensure a spot.
    </span5>

    <br><br>

    Will there be internet access during the event?
    <br>
    <span5>
    Yes, there will be complimentary high-speed wireless internet at the Provo Marriott.  
    </span5>

    <br><br>



    Should I bring my laptop/tablet to take notes?
    <br>
    <span5>
    You are welcome to bring it and take notes.  We will also provide notebooks and pens.
    </span5>

    <br><br>

    More questions?
    <br>
    <span5>
    We’re here to help. Just email us at <a href="mailto: convention@highfitness.com?subject=High Fitness Instructor Convention"> convention@highfitness.com </a>
    </span5>

    <br><br>




</div>






























<!-- <div class="congrats">
    The High Fitness Instructor Convention countdown is on!
</div>


<div id="demo" style="text-align:center;font-size:23px"></div>
<br>
<center>


<h2>Trip Overview</h2>
<br>
<br>


<div class="row justify-content-center">



        <%#= link_to  "https://www.sandals.com/emerald-bay/", target: "_blank"  do %>
        <div class="faq-button">
        Resort
        </div>
        <%#end%>


        <%#= link_to  "https://www.sandals.com/golf/bahamas/", target: "_blank"  do %>
        <div class="faq-button">
        Golf
        </div>
        <%#end%>
     
        

        <%#= link_to  "https://www.sandals.com/tours/", target: "_blank" do %>
        <div class="faq-button">
        Excursions
        </div>
        <%#end%>
    
       


        <%#= link_to  "https://www.sandals.com/redlane-spa/", target: "_blank" do %>
        <div class="faq-button">
        Spa
        </div>
        <%#end%>
        


        <%#= link_to  "https://www.sandals.com/emerald-bay/restaurants/", target: "_blank" do %>
        <div class="faq-button">
        Restaurants
        </div>
        <%#end%>
        


        <%#= link_to  "https://www.sandals.com/scuba/", target: "_blank" do %>
        <div class="faq-button">
        Scuba
        </div>
        <%#end%>


</div>
</center>


<br>

<div class="question">

  

    <center>

<button class="accordion">Emerald Bay Resort Info</button>
<div class="panel">
  <span>
  <br>
  <ul>
<li>Phone number: 1-242-336-6800</li>
<li>Address: P.O. Box EX-29142 Great Exuma, The Bahamas </li>
<li>Website: <a href = "https://www.sandals.com/emerald-bay/" target= "_blank" >https://www.sandals.com/emerald-bay/</a> </li>
<li>Wi-Fi: FREE Wi-Fi for all guests</li>
<li>Room Service: 7:00am - 10:00pm </li>
<li>11 Restaurants</li>
<li>Spa</li>
<li>Golf</li>
<li>Fitness Club</li>
<li>Phone Calls: Calls to USA from hotel room are $3.00/minute for the first minute and $1.00/minute for each additional minute of service.</li>
</ul>
</span>
</div>


<button class="accordion">Exuma, The Bahamas</button>
<div class="panel">
  <span>
  <br>
Exuma is a district of the Bahamas, consisting of over 365 islands, also called "cays". The largest of the cays is Great Exuma, 
which is 37 mi in length and joined to another island, Little Exuma by a small bridge. The Exuma cays are located South-East of Nassau, Bahamas.  
The capital and largest city in the district is George Town, founded 1793 and located on Great Exuma.
The island population is approximately 7,000.  Unless you’re going on an excursion, there's little reason to leave the resort. 
</span>
</div>


<button class="accordion">Trip Inclusions</button>
<div class="panel">
  
    <span>
    <br>
    <ul>
<li>  Round Trip Airfare</li>
<li>  Airport Transportation both ways</li>
<li>  An upgraded club level balcony hotel room</li>
<li>  Unlimited golf with ocean views at championship golf course designed by Greg Norman</li>
<li>  11 unique restaurants and 6 bar options at the resort</li>
<li>  Unlimited Premium Brand Alcohol</li>
<li>  Scuba included for certified divers.  <span1>*</span1> Certification is offered onsite at a cost</li>
<li>  Entertainment: Piano bar, Live bands and Live shows</li>
<li>  Pre-paid gratuities </li>
<li>  $400 resort credit/couple</li>
<li>  Golf Cart rental</li>
</ul>
</span>
</div>

<button class="accordion">Complimentary Resort Activities</button>
<div class="panel">
    <span>
    <br>
    <ul>
    <li>Canoes/Kayaks
      <li>Windsurfing </li>
      <li>Aquatrikes </li>
      <li>Snorkeling </li>
      <li>Sailboats</li>
      <li>Scuba(*if you have your certification)
      <li>Stand-up Boards </li>
      <li>Beach volleyball </li>
      <li>Horseshoes </li>
      <li>Lawn Chess </li>
      <li>Croquet </li>
      <li>Pool tables </li>
      <li>Bocce Ball </li>
      <li>Tennis </li>
      <li>Billiards</li>
      <li>Kayaks</li>
      <li>Fitness Club</li>
      <li>2.6 mile running trail</li>
      </ul>
      </span>
</div>

<button class="accordion">Preparation for your Trip</button>
<div class="panel">
   <span>
   <br>
   <ul>
        <li>Bring your valid passport and also a copy of your passport as a backup. Insure it hasn't expired!</li>
        <li>Remember to tell your bank you are traveling so they don’t flag your card for fraudulent charges.</li>
        <li>If you'd like to use your cell phone check with your provider and insure you have global cellular capabilities added and insure they offer service coverage in The Exumas, Bahamas. We've been told that AT&T Mobile is the only service provider on the island. Roaming charges are likely to occur. </li>
        <li>Be prepared with some snacks.  The airline industry can be unpredictable and we’ve got a lot of miles to cover before we get to the resort. </li>

        <li> If you're certified for Scuba and plan on going scuba diving please remember your scuba certification credentials.</li>
        <li>Don't forget to pack your prescription medications, pain reliever, motion sickness medicine, sunscreen, sunglasses, swimsuit, toiletries, and other essential you might need to be comfortable while traveling.</li>
        <li>No need to bring towels, the hotel has plenty for us on site.</li>
        <li>As you know the weather will be warm so pack accordingly but you may want to bring a light jacket or sweater at night time.  
        <li> Rain showers can occur, you may want to bring a compact travel umbrella. </li>
        <li> A few of the restaurants have a <span1>"Resort Evening Attire"</span1> Dress Code, to keep all dining options open... Men - bring pants and collared shirts, closed toed shoes.  Women - bring a dress and sandals.</li>
        <li> If you are planning on golfing don't forget your golf shoes.</li>
        <li> Be prepared that checked baggage fees can range from $25 - $50 per bag depending on airline policy.
        <li>Change of clothes in your carry-on bag.</li> 
        <li>If you are looking to make a reservation with a group of 6 or more for golf or an excursion. E-mail Kristen a week prior to departure with the date and number of people please. </li>
</ul>
    </span>
</div>

<button class="accordion">Arrival</button>
<div class="panel">
  <span>
  <br>
  <ul>
<li>We will be arriving at Georgetown International Airport (GGT).  Upon arrival we will proceed to Customs and Immigration.  The airport is small, a "Sandals Representative" will be there to greet you and help direct you to their shuttle.
<li>The drive from the airport to the hotel is only 15 minutes.  </li>
<li>Upon arrival be prepared to check in at the front desk and check your bags as check-in is not until 3:00pm. A hotel representative will tell you once your room is ready.  We recommend you pack a change of clothes in a carry on so you may begin to take advantage of the resort amenities upon arrival. </li>
</ul>
</span>
</div>


<button class="accordion">Weather</button>
<div class="panel">
  <span>
  <br>
    <center>
       <%#= link_to  "https://weather.com/weather/tenday/l/BFXX0139:1:BF", target: "_blank"  do %>
        <div class= "weather-button">
       10 Day Forecast
        </div>
        <%#end%>
    </center>
        <br>
        <ul>
        <li>
       Bahamian temperatures are warm, Day time average: 83°F.  Night time average: 70°F.
        </li>
        <li> As with most tropical locales rain showers can be a common occurrence.  Bring a light jacket and umbrella just in case. 
</ul>
</span>
</div>


<button class="accordion">Restaurants</button>
<div class="panel">
  <span>
  <br>
Emerald Bay boasts <a href = "https://www.sandals.com/emerald-bay/restaurants/", target="_blank" > 11 Amazing restaurants</a> - all of them are included!
<br>
<br>

<ul>
  <li>Barefoot by the Sea  (Casual)&nbsp;<span1>*</span1></li>
  <li>Il Cielo  (Evening Attire)</li>
  <li>La Parisienne  (Evening Attire)&nbsp;<span1>*</span1></li>
  <li>Drunken Duck  (Casual) </li>
  <li>Bahama Bay  (Casual) </li>
  <li>Dinos  (Casual) </li>
  <li>Cafe de Paris  (Casual)</li>
  <li>the Jerk Shack  (No Dress Code) </li>
  <li> Bomby club  (Casual)&nbsp;<span1>*</span1></li>
  <li>Soy | Sushi Bar  (Casual)</li>
  <li>Kimonos  (Casual)&nbsp;<span1>*</span1></li>
  <br>
  <br>
  <span1>*&nbsp; Reservations are required at:&nbsp;</span1> Barefoot by the Sea, La Parisienne, Bombay Club, and Kimonos!
  <br>
  <br>
  <li>Kimonos is a Tepanyaki restaurant and can seat parties of up to 12 people , otherwise most restaurants can accommodate reservations of parties of 6 or less. </li> 
  <li>Planning ahead pays off...  I recommend making all of your restaurant reservations, 
  golf tee-times, excursion, and spa appointments on "the day of your arrival". </li> 

</ul>
</span>
</div>


<button class="accordion">Currency</button>
<div class="panel">
 <span>
 <br>There is no need to exchange your US Dollars. However, there is an exchange bureau at Sandals Emerald Bay. The Bahamian or U.S. Dollar is the legal tender in the Exumas. 
    Most merchants do accept your U.S. dollars, traveler’s schedules and major credit cards, i.e. VISA®, MasterCard® and American Express®. For you convenience there is an ATM located on the resort property.</span>

</div>


<button class="accordion">On-site Purchases</button>
<div class="panel">
  <span>
  <br>Although almost everything is included you may also want to enjoy "optional" on-site and off-site experiences, spa treatments, scuba certification, golf club rentals, upgraded wine,  phone calls back home or 
    purchases in the gift shops. You should bring a major credit card for these purchases as all Sandals Resorts are "cashless resorts", they will not accept cash to purchase these items. 
    Sandals Emerald Bay Golf Resort & Spa has a gift shop with souvenirs, perfume, tobacco and sundries and snacks. Duty-free shopping is available on all islands and at the airport.

<br>
    Sandal's accepts VISA®, MasterCard®, American Express®, Discover Card® and Traveler’s cheques. They do not accept cash for on-site purchases.</span>
</div>


<button class="accordion">Group Events</button>
<div class="panel">

  <br>
  <ul>
<li>Dentist Direct wants you to enjoy your vacation the way you like to vacation thus there are only 2 group events that require your attendance.</li>
<br>
  <span1>
 Fri, Feb. 8th @ 6p.m. Opening Cocktail Party – Location: On the Beach
<br>
 Wed, Feb. 13th @ 6p.m. Group Dinner – Location: On the Beach
</ul>
</span1>
</div>

<button class="accordion">Weekly Themes and Events</button>
<div class="panel">
  <span>
  <br>
 
Monday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
One Man Sax
</span1>
<br>

Tuesday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Sandals Select Dinner
</span1>
<br>

Wednesday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
White Night Party
</span1>
<br>

Thursday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Encore
</span1>
<br>

Friday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Jankanoo Cultural Expl.
</span1>
<br>

Saturday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
Reggae Jam Party
</span1>
<br>

Sunday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span1>
International Night
</span1>
<br>

  </span>
  <br>

</div>


<button class="accordion">Golf</button>
<div class="panel">
  <span>
  <br>
  <ul>
<li> Golf on the 18 hole, 7001 yard Greg Norman designed course is complimentary. </li> 
<li> You are welcome to pack your own golf clubs and shoes if you have an acceptable travel enclosure, check with your airline for their specific fees and limitations </li>
<li> Golf Cart rental are covered by Dentist Direct</li>
<li>Golf club rentals are not included, however the $400 credit can be used to cover club rentals, shoe rentals, etc.</li>
<li>Golf Club Rentals 18 holes - US $65.00 </li>
<li>Golf Club Rentals 9 holes - US $50.00 </li>
<li>Shoe Rentals -  US $15.00</li>
<li>Men are required to wear a collared golf shirt and tailored shorts or slacks. Ladies may wear a solid T-shirt, sleeveless shirts are allowed provided they have a collar. Shorts, skorts, skirts, or slacks must be tailored and or an appropriate length.  Golf shoes are advisable, but sneakers or trainers are allowed unless deemed unsafe due to wet conditions.</li>
  <li> Golf shop is open 8:00am - 5:30pm daily.
</ul>
</span>
</div>



<button class="accordion">Dress Code</button>
<div class="panel">
      <span>
      <br>
      <ul>
      <li>
        Pack lightly, one large suitcase with a carry-on is ideal. Casual wear is perfect, except for (Optional)formal nights, theme nights, and restaurants that require full-length pants and collared shirts; Checkout the on-site restaurants for the specific dress code <a href = "https://www.sandals.com/emerald-bay/restaurants/" target= "_blank" > HERE </a>.</li>
        <br>
        <li>Golf- Men are required to wear a collared golf shirt and tailored shorts or slacks. Ladies may wear a solid T-shirt, sleeveless shirts are allowed provided they have a collar. Shorts, skorts, skirts, or slacks must be tailored and or an appropriate length.  Golf shoes are advisable, but sneakers or trainers are allowed unless deemed unsafe due to wet condition.</li>
</ul>
    </span>
</div>



<button class="accordion">Water Consumption</button>
<div class="panel">
  <span>
  <br>
I recommend that you stick with bottled water. Bottled water can be requested at all restaurants, poolside etc, otherwise they will bring you tap water.
</span>
</div>



<button class="accordion">Electrical Outlets</button>
<div class="panel">
  <span>
  <br>
 Electrical outlets are identical to those we use in the USA.  They operate at 120 volts, 60 Hz frequency cycles in the Bahamas. But don’t worry about bringing your hair dryers; they’re already provided in every room.
</span>
</div>



<button class="accordion">Departing the Island</button>
<div class="panel">
  <span>
  <br>

<ul>
  <li>
We will be departing on February 15th.
</li>
<br>
<li>
The hotel will deliver notices 48 hours prior to your departure. That notice will include what time your transfer will depart from the resort.  Plan 2 to 3 hours in advance of your flight departure time.  
</li>
</ul>

</span>
</div>


</center>
<br>
<br>
</div>






 <%# Scripts  %>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Feb 8, 2019 00:00:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
        
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
        
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
        
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
    }, 1000);
</script>


 -->
 

