


  
<!--   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3300">
      <div class="carousel-inner w-100">
        <div class="carousel-item active">
        <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+1.jpg" alt="First slide">
      </div>
      </div>


      <div class="carousel-item">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+2.jpg" alt="Third slide" >
      </div>
      </div>

      <div class="carousel-item ">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+3.jpg" alt="Fourth slide" >
      </div>
      </div>

      <div class="carousel-item">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+4.jpg" alt="Fifth slide">
      </div>
      </div>


  </div>
</div> -->


<!-- <a href="https://highfitnessconvention.regfox.com/high-fitness-convention-2019" target="_blank"> -->

<center>
  
  <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/convention_edited-1.jpg" width="80%">


<!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/highduo_edited-2.jpg" width="100%"> -->
<!-- </a> -->


<a href="https://highfitnessconvention.regfox.com/high-fitness-convention-2019" target="_blank">
 <!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/registernow2.jpg" width="100%"> -->
     
         
  <div class="segment1">
    <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/register+now+banner+3.jpg" alt="Card Back" style="width:100%">
    <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/register+now+banner+2.jpg" class="img-top" alt="Card Front" style="width:100%">
  </div>
         
</a>

<br>
<br>
<div class ="event_description">
  <center>
  <span7> ABOUT</span7>
  </center>
 <br>
 Are you ready to take your HIGH fitness even HIGHer!? Get ready for a weekend that will give any real HIGH Addict FOMO! Private Epic classes, unreleased choreo, limited edition swag, educational sessions and motivating presentations will take your mindset to the next level. <br>
 <br>

This is the chance to come together as a High family, meet a crew of new high friends and be a part of something incredible. We will share best practices, encourage one another, and build relationships. <br>
<br>
You will have the opportunity to learn from the best as Emily & Amber teach EPIC classes, including the release of some “convention only” choreography that will rock your world. Do not risk having to watch this incredible weekend on Instagram, secure your spot today. We can’t wait to see you there!


</div>
</center>

<br>
<div class= "included">
    <center>
        <div class= "included-title">
          We've got you covered - Registration Includes:
        </div>
    </center>

    <br>

      <ul>

          <li>Entrance to first ever HIGH fitness Instructor convention</li>

          <li>Unlimited access to educational sessions</li>

          <li>Master classes taught by co-owners featuring EPIC 90’s launch</li>

          <li>Convention attendees only choreo</li>

          <li>Keynote speeches by Courtney Brown and Alison Geskin</li>

          <li>Q&A with Amber and Emily</li>

          <li>Swag bag including custom Beddy’s bed/HIGH fitness pajamas, conference hat, notebook, patch and sponsor swag</li>

          <li>Entrance to HIGH SOCIETY exclusive pajama/ spa party sponsored by Addy and Olly Salon</li>

          <li>Lunch, beverages and snacks both days</li>

          <li>30% off new line of apparel and High protein</li>

          <li>Warehouse sale</li>
    </ul>
   
  </div>
<!-- <br>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/highfitnessbanner2_edited-4.jpg" width="100%">
 -->
<br>

<center>


<br>


<img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/hug_edited-2.jpg"  width="100%" >


<br>
<br>

<%= render "shared/high-footer" %>
  <br>
</center>

<!-- <div class = "img-container">
<img src= "https://s3.amazonaws.com/highfitness-newmedia/wp-content/uploads/2017/10/26010720/High-Fitness-0096.jpg"  width="100%" >
</div>
  
<br>
<br> -->

<!-- <div class = "img-container">
<img src= "https://s3.amazonaws.com/highfitness-newmedia/wp-content/uploads/2017/10/26010715/High-Fitness-0116.jpg"  width="100%" >
</div> -->









