<center>



  
<!--   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3300">
      <div class="carousel-inner w-100">
        <div class="carousel-item active">
        <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+1.jpg" alt="First slide">
      </div>
      </div>


      <div class="carousel-item">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+2.jpg" alt="Third slide" >
      </div>
      </div>

      <div class="carousel-item ">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+3.jpg" alt="Fourth slide" >
      </div>
      </div>

      <div class="carousel-item">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+4.jpg" alt="Fifth slide">
      </div>
      </div>


  </div>
</div> -->


<a href="https://highfitnessconvention.regfox.com/high-fitness-convention-2019" target="_blank">

<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/highduo_edited-3.jpg" width="100%">
</a>
<br>
<div class ="event_description">
  <center>
  <span7> ABOUT</span7>
  </center>
  <br>
  The High Convention will be full of educational sessions focused on helping you to become a better instructor in addition to motivating presentations by external speakers that will leave you feeling inspired & uplifted.  This is the chance to come together as a High family and share best practices, encourage one another, and build relationships.  On day one you will have the opportunity to learn from the best as Emily & Amber teach a “90’s” Epic Class.  On day two the High Guru’s will be releasing some “convention only” choreography that will rock your world.  A High warehouse sale,  Swag bags, prizes, 30% off new apparel & protein are just a few of the things you cannot afford to miss out on.  To cap it off Addy & Olly are pampering us at the best Pajama Party around!  We can't wait to see you there!

</div>

<br>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/highfitnessbanner2_edited-1.jpg" width="100%">

</center>
<br>

<center>
<br>

<a href="https://highfitnessconvention.regfox.com/high-fitness-convention-2019" target="_blank">
 <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/registernow2.jpg" width="100%">
</a>

<!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/join.jpg" width="100%"> -->
<br>
<br>


<img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/grouphug.jpg"  width="100%" >


<br>
<br>



<!-- <div class = "img-container">
<img src= "https://s3.amazonaws.com/highfitness-newmedia/wp-content/uploads/2017/10/26010720/High-Fitness-0096.jpg"  width="100%" >
</div>
  
<br>
<br> -->

<!-- <div class = "img-container">
<img src= "https://s3.amazonaws.com/highfitness-newmedia/wp-content/uploads/2017/10/26010715/High-Fitness-0116.jpg"  width="100%" >
</div> -->


</center>







