<center>



  
<!--   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3300">
      <div class="carousel-inner w-100">
        <div class="carousel-item active">
        <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+1.jpg" alt="First slide">
      </div>
      </div>


      <div class="carousel-item">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+2.jpg" alt="Third slide" >
      </div>
      </div>

      <div class="carousel-item ">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+3.jpg" alt="Fourth slide" >
      </div>
      </div>

      <div class="carousel-item">
      <div class="img-container">
      <img class="d-block w-100" src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Artboard+4.jpg" alt="Fifth slide">
      </div>
      </div>


  </div>
</div> -->


<a href="https://highfitnessconvention.regfox.com/high-fitness-convention-2019" target="_blank">

<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/highduo_edited-2.jpg" width="100%">
</a>
<br>
<div class ="event_description">
  <center>
  <span7> ABOUT</span7>
  </center>
  <br>
  Are you ready to take your HIGH fitness even HIGHer!?  Get ready for a weekend that will give any real HIGH Addict FOMO!   Private Epic classes, unreleased choreo, limited edition swag, educational sessions and motivating presentations will take your mindset to the next level.  Don’t even get us started on the evening PJ party and glamfest with Addy and Ollie Salon.  This is the chance to come together as a High family, meet a crew of new high friends and be a part of something incredible.   We will share best practices, encourage one another, and build relationships.  You will have the opportunity to learn from the best as Emily & Amber teach a “90’s” Epic Class and will be releasing some “convention only” choreography that will rock your world. A High warehouse sale, Swag bags, prizes, 30% off new apparel & protein are just a few of the things you cannot afford to miss out on. Do not risk having to watch this incredible weekend on Instagram, secure your spot today. We can’t wait to see you there!

</div>

<br>
<img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/highfitnessbanner23jpg.jpg" width="100%">

</center>
<br>

<center>
<br>

<a href="https://highfitnessconvention.regfox.com/high-fitness-convention-2019" target="_blank">
 <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/registernow2.jpg" width="100%">
</a>

<!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/join.jpg" width="100%"> -->
<br>
<br>


<img src= "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/hug_edited-2.jpg"  width="100%" >


<br>
<br>

  <img src= "http://www.cbevolutionfitness.com/wp-content/uploads/class-high-fitness.png" alt="Flowers in Chania" width="200" >
  <br>
  
</center>

<!-- <div class = "img-container">
<img src= "https://s3.amazonaws.com/highfitness-newmedia/wp-content/uploads/2017/10/26010720/High-Fitness-0096.jpg"  width="100%" >
</div>
  
<br>
<br> -->

<!-- <div class = "img-container">
<img src= "https://s3.amazonaws.com/highfitness-newmedia/wp-content/uploads/2017/10/26010715/High-Fitness-0116.jpg"  width="100%" >
</div> -->









