  <center>

    <br>
    <div style ="color:#EC549E">
      THANKS FOR THE SUPPORT 
      <br>
      OF OUR AMAZING SPONSORS! 
    </div>
    
    <hr>

    <div class ="sponsor-container">

      <div class= "zoom">
        <%= link_to "https://g2gbar.com/", target: "_blank" do %>
       <img src= "https://g2gbar.com/wp-content/uploads/2019/05/g2g-logo-fresh_600.png", width="200px">
        <%end%>
      </div>


      <div>
        Company name
      </div>


        <div>
         Company Profile: 
        </div>

    </div>


    <hr>



       <div class ="sponsor-container">


       <div class= "zoom">
        <%= link_to "https://g2gbar.com/", target: "_blank" do %>
       <img src= "https://g2gbar.com/wp-content/uploads/2019/05/g2g-logo-fresh_600.png", width="200px">
        <%end%>
      </div>


      <div>
        Company name
      </div>

        <div>
         Company Profile: 
        </div>

    </div>


    <hr>



       <div class ="sponsor-container">

          <div class= "zoom">
          <%= link_to "https://g2gbar.com/", target: "_blank" do %>
         <img src= "https://g2gbar.com/wp-content/uploads/2019/05/g2g-logo-fresh_600.png", width="200px">
          <%end%>
        </div>

        <div>
          Company name
        </div>

        <div>
         Company Profile: 
        </div>

    </div>


    <hr>



     <div class ="sponsor-container">

           <div class= "zoom">
          <%= link_to "https://g2gbar.com/", target: "_blank" do %>
         <img src= "https://g2gbar.com/wp-content/uploads/2019/05/g2g-logo-fresh_600.png", width="200px">
          <%end%>
        </div>


        <div>
          Company name
        </div>

        <div>
         Company Profile: 
        </div>

    </div>


    <hr>
 




</center>