  <center>

        <button class="accordion">Allison Ward</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Allsion+Ward.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Allsion Ward  
                                          <br>
                                          Professional High Instructor
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    With a love for fitness that started when she was 16 years old, Allison is passionate about empowering others to inspire their own sense of growth, purpose and confidence. She is AFLCA Group Ex certified, and her supportive and loving attitude has inspired and empowered many. 
                                </div>

                   </div>
              </div>







    <center>

        <button class="accordion">Allison Ward</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Allsion+Ward.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Allsion Ward  
                                          <br>
                                          Professional High Instructor
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    With a love for fitness that started when she was 16 years old, Allison is passionate about empowering others to inspire their own sense of growth, purpose and confidence. She is AFLCA Group Ex certified, and her supportive and loving attitude has inspired and empowered many. 
                                </div>

                   </div>
              </div>
    





        <button class="accordion">Halley Seim</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Hailey+Seim.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Halley Seim   
                                       <br>
                                          Guru PRO
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    Halley is AFAA Group Ex certified and was amongst the first group of HIGH Fitness graduates. Her mission is to promote and inspire inner confidence in everyone she meets. She is passionate about bringing her participants’ individual potential to light so they can see what for themselves what is possible.
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Janay Wilson</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Janey+Wilson.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Janay Wilson  
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   Janay is AFLCA Group Ex certified, and began her fitness career over 10 years ago.  She holds a Bachelor’s degree in Social Work and has extensive experience as a social worker and counselor. Janay has a deep passion for supporting others in living their best life, and is inspired everyday by both instructors and participants. 
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Jen Stout</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Jen+Stout.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Jen Stout  
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   With a Bachelor’s Degree in Fitness and Wellness Management, Jen started her fitness career in college as the Director of a Corporate Wellness Center and a personal trainer. She has a genuine love and compassion for people which led to her eventually falling in love with Group Ex and creating an unstoppable community with her participants. 
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Joni Hayes</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Joni+Hayes.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Joni Hayes  
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                     Self-described as driven and disciplined with a competitive nature, Joni loves leading her classes to a sweaty state of HIGH euphoria. She is AFAA Group Ex certified with a personal interest in health and fitness that has her constantly learning and building her skills. Authentic and loving, she welcomes people with open arms. 
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Leslie Hansen</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Leslie+Hansen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                        Leslie Hansen 
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   With years of experience as a dance teacher and choreographer, Leslie is a master at making up and polishing choreography. She puts her heart into everything she does, and her passion shines through the love she has for HIGH and all of her participants. 
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Lindsay Carver</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Lindsay+Carver.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Lindsay Carver 
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                  AFAA Group Ex certified and a Speech Pathologist by day, Lindsay has over 10 years teaching experience. She embraces the opportunity to be the “sunshiny” part of her participants’ days and has had much success creating a fun and loving community through her classes. Smiles, energy and endorphins power her to inspire others
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Liz Jones ~ POJO</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Liz+Jones.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Lliz Jones ~ POJO
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   With a Bachelor’s degree in Health Science, various fitness certifications, and numerous years of experience, Liz loves sharing her knowledge of health and fitness. She has experience in various aspects of the fitness industry, and a passion for HIGH. Lovingly described as the energizer bunny, she brings fun and intensity everywhere.
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">McCall Tyksen</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/McCall+Tyksen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                         McCall Tysken
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   A former professional dancer with a degree in Education and experience as a teacher, McCall loves the feeling of unity that comes from fitness classes; everyone is working together to reach their goals. She is AFAA Group Ex certified and is passionate about creating a space that leaves everyone feeling welcome, comfortable and excited about fitness. 
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Melissa Zurcher </button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Melissa+Zurcher.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Melissa Zurcher 
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   Melissa holds a Bachelor’s Degree in Exercise Science and is AFAA Group Ex certified with extensive experience in the fitness industry. Her fitness journey began in 1997, and her love of teaching and presenting does not stop. She is a powerhouse of energy and brings both heart and intensity to her work. 
                                </div>
                  
                   </div>
              </div>




                      <button class="accordion">Metta Semrad</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Metta+Semrad.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Metta Semrad  
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    Metta attended Utah Valley University where she graduated with a Bachelor’s Degree in Public Health. Post university she found a true passion in group fitness, became AFAA Group Ex certified, and was amongst the first group of HIGH Fitness graduates. With a love of all things health and fitness, Metta inspires fun and exudes a contagious energy.
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Michelle Henneberry</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Michelle+Hennebery.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                       Michelle Henneberry
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    Michelle has always had a passion for fitness, teaching and fun. She has 14 years of experience as a dance instructor, and is AFLCA Group Ex certified. Michelle’s goal for every participant is to give them the confidence to feel uplifted and energized, she does this by constantly striving to create an inclusive community in her classes. 
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Patrice Pedersen</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Patric+Pedersen.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                        Patrice Pedersen 
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    Patrice exudes passion, energy, positivity and love. With a Bachelor of Science degree, Patrice is also a NASM certified personal trainer and the owner of her own gym. Her greatest passion is helping people become physically and mentally healthy because she feels there is no better reward than seeing others succeed. 
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Ricki Smith</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/Ricki+Smith.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                          Ricki Smith 
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    Ricki’s love of group fitness started in high school and continued into college where she earned a Bachelor’s degree in Exercise Science. Ricki is AFAA Group Ex certified as well as an AFAA personal trainer. She is passionate about motivating participants to push themselves beyond what they believe they can achieve.
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Shannon Bonnemort</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Speaker+images/shannon+B.jpg" style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                         Shannon Bonnemort
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                   With the infectious energy she brings to class, Shannon strives to help others believe in themselves and understand that anything is possible. She is dedicated to her participants and takes pride in being able to bring happiness into their lives through HIGH.
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Jacquelyn Cornish</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src=" " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                         Jacquelyn Cornish 
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    Jacquelyn is passionate about mentoring, supporting and cheering others on. Her goal is to know her participants by name and understand their story. AFLCA Group Ex certified, Jacquelyn is driven to share her love of HIGH with others because of the powerful impact it has had on her own health and well-being.
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Leigh Gibney</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src=" " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                         Leigh Gibney
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    With a Bachelor’s degree in Management, minoring in Marketing, Leigh is the Brand Manager for HIGH Fitness. She has extensive experience launching and growing businesses from the ground up. A HIGH instructor herself, Leigh is committed to supporting instructors with the knowledge necessary to help their businesses soar
                                </div>
                  
                   </div>
              </div>






                      <button class="accordion">Eden Schell</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src=" " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                         Eden Schell
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    With over a decade of experience in marketing and graphic design, Eden is one of the Social Media Coordinators for HIGH Fitness. She is a self proclaimed GIF Master and social media aficionado with a Bachelors degree in Economics minoring in Business. She is also a master behind the camera, and teaches HIGH in her spare time. 
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Sara Jane Liddell</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src=" " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                         Sara Jane Liddell
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                     Most likely found front and centre show-dogging in a HIGH class and graciously referred to as the official HIGH Mascot, Sara Jane is one of the Social Media Coordinators for HIGH Fitness. Sara holds a Bachelors degree in Mass Communication with expertise in journalism, is marketing minded, and has experience in advertising and direct sales. Her specialities are relatable GIFs and catchy captions, and she has recently certified as a HIGH instructor.
                                </div>
                  
                   </div>
              </div>





                      <button class="accordion">Jacquelyn Cornish</button>
               <div class="panel">

                  <div class="agenda-background">
                        <div>
                          Topic descriptionFind out how to improve at ......
                        </div>

                               <br>

                                   <div class="bio-section">
                                        <div class="bio-image">
                                          <img src=" " style = "width:100px; border: 2px solid #ec54ab;border-radius: 50%" >
                                        </div>

                                        <div class="bio-image-name-title">
                                         Jacquelyn Cornish 
                                          <br>
                                          Professional High Guru
                                        </div>
                                  </div>

                                      <br>
                                <div class="bio-description">
                                    Jacquelyn is passionate about mentoring, supporting and cheering others on. Her goal is to know her participants by name and understand their story. AFLCA Group Ex certified, Jacquelyn is driven to share her love of HIGH with others because of the powerful impact it has had on her own health and well-being. y.
                                </div>
                  
                   </div>
              </div>