
    <center>
      <div class= "ven">
      <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/provo+marriott_edited-2.jpg"  width="100%" >
    </div>

      <br>


      <div class= "address">

    <a href = "https://www.google.com/maps/place/101+W+100+N,+Provo,+UT+84601,+USA/@40.2344805,-111.6638828,17z/data=!3m1!4b1!4m5!3m4!1s0x874d9754b9e12111:0x6f4e5f08fac237a9!8m2!3d40.2344805!4d-111.6616941" target="_blank">

      101 W. 100 N. <br>
      Provo, UT 84601 <br>
      801-377-4700

    </a>
      </div>

  <br>

      <div class= "accommodations">
      <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/getting+to+high_edited-2.png"  width="80%" >

    </div>
    </center>

        <div class="venue-three">
          <div>
            <span>From Salt Lake Airport</span>
            <br />
            <br>
            About 50 miles SouthEast to High Instructor Convention
            <br />
            <br />
            Lyft or Uber: $88 USD (one way)
            <br />
            <br />
            Express Shuttle: $45 USD (one way)
            <br />
            <br />
            Average Rate: $88 USD (one way)
            <br />
            <br />
            Frontrunner train and bus $7 USD (one way)
          </div>

          <div>
            <span>From Provo Airport</span>
            <br />
            <br>
            About 4 miles East to High Instructor Convention
            <br />
            <br />
            Lyft or Uber $8 USD (one way)
            <br />
            <br />
            Provo Frontrunner station to
            <br />
            Provo Center Street area: $7 USD (one way)
            <br />
          </div>
        </div>

        <br>

        <center>
      

        <div class="venue-four">
      
          <center>
          <a
            class="btn btn-custom"
            href="https://www.marriott.com/hotels/maps/travel/slcvo-provo-marriott-hotel-and-conference-center/"
            target="_blank"
            rel="noopener noreferrer">
            Parking & Directions
          </a>
      
        </div>
          <br>
          <hr>
         <br>
        <!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/incredible.jpg" width="100%"> -->
        <!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Provo+city.jpeg" width="100%">  -->
          <br>
         <div class = "accommodations">
            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/accommodations.png" width="100%">

         </div> 

            <br>
            <br>
       
            Don't miss out on any of the action, stay on site! <br>
            All conference attendees have access to our SPECIAL group rate at the Marriott.
            <br>

              $124/night + tax USD per night<br>
              Book now to save!
            <br />
           
            <br>
            <br>
         
            <a
              class="btn btn-custom"
              href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1549923683403&key=GRP&app=resvlink"
              target="_blank"
              rel="noopener noreferrer"
            >
              Book Your Room Now
            </a>

            <br>
            <br>
            <br>


             <div class = "agenda3">
            “This summer convention will be unforgettable!!! We are counting down the days until we can all come together as one!!” 
             <br><br>
              <span8>  ~ Shannon Bonnemort </span8>
             </div>

             <div class = "agenda4">
               “Coming together to take the definition of #highfitsociety to the max!!!”
                <br><br>
               <span8>  ~ Lindsay Carver</span8>
             </div> 
             <br>
             <br>
      
          <%= render "shared/high-footer" %>
        </center>
        <br>
      </div>