
    <center>
      <div class= "ven">
      <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/provo+marriott_edited-2.jpg"  width="95%" >
      <br>
      <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/gettting+to.png"  width="95%" >

    </div>
    </center>

        <div class="venue-three">
          <div>
            <span>From Salt Lake Airport</span>
            <br />
            About 50 miles SouthEast to High Instructor Convention
            <br />
            <br />
            <br />
            Lyft or Uber: $88/average (one way)
            <br />
            <br />
            Express Shuttle: $45 (one way)
            <br />
            <br />
            Average Rate: $88(one way)
            <br />
            <br />
            Frontrunner train and bus $6.10 one way
          </div>

          <div>
            <span>From Provo Airport</span>
            <br />
            About 4 miles East to High Instructor Convention<br />
            <br />
            <br />
            Lyft or Uber $8 average (one way)
            <br />
            <br />
            Provo Frontrunner station to
            <br />
            Provo Center Street area: $7 average (one way)
            <br />
          </div>
        </div>

        <br>

        <center>
      

        <div class="venue-four">
      
          <center>
          <a
            class="btn btn-custom"
            href="https://www.marriott.com/hotels/maps/travel/slcvo-provo-marriott-hotel-and-conference-center/"
            target="_blank"
            rel="noopener noreferrer">
            Parking & Directions
          </a>
      
        </div>
          <br>
          <hr>
         <br>
        <!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/incredible.jpg" width="100%"> -->
        <!-- <img src = "https://s3-us-west-1.amazonaws.com/mont-general/highfitness/Provo+city.jpeg" width="100%">  -->
          <br>
         
            <img src="https://s3-us-west-1.amazonaws.com/mont-general/highfitness/accommodations.png">


       

            <br>
            <br>
       
            All attendees get this special rate at the Provo Marriott - make sure you book your room under our group:
            <br>
            <br>

              $124/night + tax    
            <br />
           
            <br>
            <br>
         
            <a
              class="btn btn-custom"
              href="https://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=High%20Fitness%20Instructor%20Convention%5Eslcvo%60hfihfir%60124.00%60USD%60false%603%606/27/19%606/30/19%606/7/19&app=resvlink&stop_mobi=yes"
              target="_blank"
              rel="noopener noreferrer"
            >
              Book Your Room Now
            </a>
            <br>
            <br>
      

        <img src= "http://www.cbevolutionfitness.com/wp-content/uploads/class-high-fitness.png" alt="Flowers in Chania" width="200" >
        </center>
<br>
      </div>