
  <div style = "padding:30px;max-width: 500px">
      <h4>Choreography Vote</h4>
      <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please vote for one...
    <br>
    <br>
    <br>
      <%= render 'form', vote: @vote %>

      <%#= link_to 'Back', votes_path %>
  </div>
